<aside class="menu">
  <p class="menu-label">
    DASHBOARD
  </p>
  <ul class="menu-list">
    <li><a href="/clients">Klienci</a></li>
    <li><a href="/groups">Grupy</a></li>
    <li><a href="/library">Biblioteka</a></li>
  </ul>
</aside>